body {
    font-family: "Kumbh Sans", sans-serif !important;
    color: hsl(220, 13%, 13%);
}

/* some adjustments to bootstrap's offcanvas components */
.offcanvas-width {
    width: 18em !important;
}

.offcanvas[aria-modal="true"] {
    transition: all .25s linear;
}

/* end offcanvas */

.cart-collapse {
    top: 4.5em;
    min-width: 16em;
    width: 22em;
    right: 0;
    margin-right: .7em;
    height: 16em;
    box-shadow: 0px 15px 25px -15px hsl(219, 9%, 45%);
}

.sneakers-container {
    height: 6em;
}

/* new colors styles */
.text-very-dark-blue {
    color: hsl(218, 12%, 13%);
}

.text-dark-grayish-blue {
    color: hsl(219, 9%, 45%);
}

.text-grayish-blue {
    color: hsl(220, 14%, 75%);
}

.bg-light-grayish-blue {
    background: hsl(223, 64%, 98%);
}

.bg-orange {
    background: hsl(26, 100%, 55%);
}

.border-avatar:hover {
    border: 2px solid hsl(26, 100%, 55%);
}

.btn-cart:hover {
    opacity: 1 !important;
}

.nav-style:hover {
    border-bottom: .2em solid hsl(26, 100%, 55%);
}

.border-avatar:hover,
.btn-cart:hover,
.nav-style:hover {
    transition: all .08s linear;
}

.custom-letter-space {
    letter-spacing: .15em;
}

.border-dark-grayish-blue {
    border-color: hsl(219, 9%, 45%)
}

.text-grayish-blue {
    color: hsl(220, 14%, 75%)
}

/* end colors styles */

/* bootstrap modifications */
.carousel-indicators [data-bs-target] {
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    opacity: 1;
}

.carousel-indicators .active {
    opacity: .3;
}

/* end bootstrap modifications */

.uppercase {
    text-transform: uppercase;
}

.fs-7 {
    font-size: .9rem;
}

.mb-custom {
    margin-bottom: 5em;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
    .fs-md-6 {
        font-size: 1em !important;
    }

    .text-md-dark-grayish-blue {
        color: hsl(219, 9%, 45%)
    }

    .mt-md-6 {
        margin-top: 5.625em;
    }

    .fw-md-normal {
        font-weight: normal !important;
    }

    .nav-md-style:hover {
        height: 5em;
    }
}

@media (min-width: 992px) {
    .img-w-lg {
        width: 3.125em;
    }

    .mb-custom {
        margin-bottom: 10em;
    }

    .gap-lg-custom {
        gap: 2em !important;
    }

}

@media (min-width: 1200px) {
    .px-xl-6 {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media (min-width: 1400px) {
    .display-custom {
        font-size: calc(1.425rem + 2.1vw);
        line-height: 1.2;
        font-weight: 300;
        font-size: 3rem;
    }
}